body{
    padding: 0;
    margin: 0;
    background-color: rgb(238, 238, 238);

}

.container_nav{

    width: 100%;
    height:100%;
    position: relative;
    top:0;
    display: flex;
}

.nav{
    z-index: 10;
    width:100%;
    height:55px;
    background-color:rgb(41,41,41);
    position:fixed;
    border-bottom:1px solid white;
    display:flex;
    justify-content: space-between;
}

.nav_list_inside{
    display:flex;
    list-style:none;
    padding-right:30px;
}

.list_home,.list_about,.list_dissertation,.list_grasshopper,.list_tower{
    color:white;
    text-decoration: none;
    padding-right: 30px;
}

/* ここまでがナビゲーションバー */


.img_home_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.container_home{
    width: 100%;
    height: calc(100vh - 55px);
    display: flex;
    position: absolute;
    top: 55px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}
 
.welcome{
    font-size: 20px;
    color: white;
    font-weight: 200;
    font-style: oblique;
}

.Tatsuki_page{
    font-size: 60px;
    color: white;
    font-weight: 200;
    padding-top: 0;
    height: 160px;
    display: flex;
    align-items: center;
}

/* homeはここまでで終了 */

/* 空白 */

.empty_blank1{
    width: 1200px;
    height: 80px;
    margin: auto;
    background-color: rgb(238, 238, 238);

}

/* ここからabout */

.container_about{
    width: 1200px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-flow: column;
    border-bottom: 0.5px solid black;
    background-color: rgb(238, 238, 238);

}

.title_about{
    width: 100%;
    height: 150px;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.p_about{
    font-size: 50px;
    font-weight: 400;
    padding-top: 55px;

}

.contents_about{
    width: 100%;
    height: 500px;
    display: flex;
}



.left_about{
    width: 50%;
    height: 100%;
}

.right_about{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thai_about{
    width: 60%;
    height: auto;
}

.px_about{
    width: 100%;
    height: 30px;
}

.name_en_about{
    width: 100%;
    height: 71px;
    font-size: 60px;
    font-weight: 500;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_ja_about{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_top_about{
    width: 100%;
    height: 160px;
    display: flex;
    flex-flow: column;
}

.left_bottom_about{
    width: 100%;
    height: 340px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.emp_about{
    width: 100%;
    height: 15px;
}

.bottom1_about{
    width: 80%;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottom2_about{
    width: 100%;
    height: 100px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom3_about{
    width: 80%;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottom4_about{
    width: 100%;
    height: 65px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(46, 46, 46);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.list_b_about{
    list-style: none;
    font-size: 12px;
}

.emp1_about{
    height: 40px;
    width: 100%;
}


/* ここからtower */
.container_tower{
    width: 1200px;
    height: auto;
    display: flex;
    flex-flow: column;
    border-bottom: 0.5px solid black;
    background-color: rgb(238, 238, 238);
    margin: auto;
}

.title_tower{
    width: 100%;
    height: 150px;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;    
    align-items: center;

}

.p_tower{
    font-size: 50px;
    font-weight: 400;
    padding-top: 55px;

}

.overview_tower{
    width: 1100px;
    height: 140px;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.img_tower{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.img_1_tower{
    width:700px;
    height: auto;
}

.img_2_tower{
    width:450px;
    height: auto;
    margin-top: 10px;
}

.video_tower{
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.video_tower_1, .video_tower_2{
    width: 500px;
    height: auto;
    margin: 10px;
}
/* ここまでがtower */

/* ここからdissertaiton */

.container_dis{
    width: 1200px;
    height: auto;
    display: flex;
    flex-flow: column;
    border-bottom: 0.5px solid black;
    background-color: rgb(238, 238, 238);
    margin: auto;
}

.title_dis{
    width: 100%;
    height: 150px;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.p_dis{
    font-size: 50px;
    font-weight: 400;
    padding-top: 55px;

}

.con1_dis{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 0px;
}

.p_maintitle_dis{
    font-size: 25px;
    font-weight: 200;

}

.p_subtitle_dis{
    font-size: 15px;
    font-weight: 200;
    padding: 0;
}

.con2_dis{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.con2_sub_dis{
    width: 600px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

/* ここにoverviewを入力↓ */
/* 書き込んだ後にcon3_disのheightを調整する */

.con3_dis{
    width: 100%;
    height: 250px;/* ここを調整 */
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 0px;
}

.box_con3_dis{
    width: 850px;  
    height: 180px;/*  ここ変更*/
    border: 0.5px solid black;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 10px;
}

.box_con3_dis span{
    font-weight: bold;
}

.con4_dis{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.con4_sub_dis{
    width: 600px;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.con5_dis_con{
    display: flex;
    height: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.con5_dis{
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.con5_dis a{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}

.con5_english_update{
    padding-top: 10px;
    font-size: 12px;
    color: rgb(58, 58, 58);
}



/* ここまででdissertationおわり */

/* ここからgarasshopper */



.container_grass{
    width: 1200px;
    height: auto;
    display: flex;
    flex-flow: column;
    border-bottom: 0.5px solid black;
    background-color: rgb(238, 238, 238);
    margin: auto;

}

.title_grass{
    width: 1200px;
    height: 150px;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: auto;
}

.p_grass{
    font-size: 50px;
    font-weight: 400;
    padding-top: 55px;
}

.first_title_grass{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.table_container_grass{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.table_grass{
    width: 1000px;
    height: auto;
    background-color: bisque;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 10px;
}

.table_title_grass{
    width: 90%;
    height: 25px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ol_grass{
    width: 80%;
    height: 100%;
    font-size: 15px;
    font-weight: 300;
}

.ol_grass li{
    color:black;
    padding-bottom: 10px;
}

.ol_grass a{
    color: rgb(58, 58, 58);
}

/* ここからcontents1（これからコンテンツを追加するときに使う） */

.grass_1_steiner_component{
    width: 1200px;
    height: 60px;
    background-color: aquamarine;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid black;
}

.grass_1_overview{
    width: 1100px;
    height: 140px;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.grass_1_img{
    width: 1200px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.grass_1_img_con{
    width: 900px;
    height: auto;

}

.grass_2_img_con{
    width: 900px;
    height: auto;
}

.grass_3_img_con{
    width: 900px;
    height: auto;
}

.grass_2_img{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.emp_grass_1{
    width: 100%;
    height: 30px;
}

.code_grass_1{
    width: 1200px;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.code_left_grass_1{
    width: 600px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.code_right_grass_1{
    width: 600px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.code_left_top_grass_1{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code_left_bottom_grass_1{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code_box_grass_1{
    width: 500px;
    height: 400px;
    background-color: rgb(30, 30, 30);
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    color: white;
}


.code_right_top_grass_1{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_grass1{
    display: flex;
    justify-content: center;
}

.video_grass_1_con{
    width: 900px;
    height: auto;
}

.code_right_bottom_grass_1{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_grass_1{
    width: 800px;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.emp_grass_down{
    width: 100%;
    height: 25px;
}


.download_title_grass_1{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.download_content_grass_1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_content_grass_1 a{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}



/* ここまでで、コンテンツ１終わり */

/* ここからコンテンツ２の始まり */

.grass_2_img_down{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* ここからコンテンツ5 */
.empty_blank2{    
    width: 1200px;
    height: 40px;
    margin: auto;
    background-color: rgb(238, 238, 238);



}


/* ここからfotter↓ */


.container_fotter{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(41,41,41);

}

.contact_detail_fotter{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.copyright_fotter{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 100;
    color: white;
    background-color: black;
}

.contact_detail_fotter img{
    padding-left: 10px;
    padding-right: 10px;
}












/* ここまでfotter↑ */