
body{
    padding: 0;
    margin: 0;

}

.container{
    width: 100%;
    height: 100%;
    background-image:url(../img/back1.png);
    background-size:cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    right:0

}

.nav{
    z-index: 2;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px white;
}

.nav_list{
    font-size: 12px;
    display: flex; 
    list-style: none;
    padding-top: 8px;
}

a{
    padding-left: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: white;
}

.container_1{
    width: 100%;
    height:100%;
    display: flex;
    position: absolute;
    top:55px;
    left:0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container_2{
    width: 100%;
    height:100%;
    display: flex;
    position: absolute;
    top:55px;
    left:0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.welcome{
    padding-bottom: 210px;
    font-size: 30px;
    font-weight: 300;
}

.Tatsuki_page{
    font-size: 80px;
    font-weight: 600;
}


.container_3{
    z-index: 0;
    width: 100%;
    height:100%;
    display: flex;
    position: absolute;
    top:0;
    left:0;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.fotter{
    width: 100%;
    height: 50px;
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    font-weight: lighter;


    
}





