
body{
    padding: 0;
    margin: 0;

}

.container{
    width: 100%;
    height: 55px;
    background-color: rgb(54, 54, 54);
    background-size:cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    right:0

}

.nav{
    z-index: 2;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px white;
}

.nav_list{
    font-size: 12px;
    display: flex; 
    list-style: none;
    padding-top: 8px;
}

a{
    padding-left: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: white;
}


.container_a{
    width: 100%;
    height: 60px;
    position: absolute;
    top:50px;
    display: flex;
    justify-content: center;
}
.About_me{
    width: 70%;
    height: 70px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;

}

.harf1{
    width: 50%;
    height: 200px;
    position: absolute;
    top: 130px;
    left:70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.harf_top{
    height: 100px;
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}



.name_en{
    font-size: 70px;
    font-weight: 600;
}

.name_ja{
    padding-top: 20px;
    padding-left: 0px;
    font-size: 20px;
    font-weight: bold;
}


.harf2{
    width: 50%;
    height: 200px;
    position: absolute;
    top:150px;
    left:70px;
    display: flex;
    justify-content: center;
    align-items: flex-end ;

}

.harf3{
    width: 50%;
    height: 550px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left:40px;
}

.harf_bo{

    width: 100%;
    display: flex;
    justify-content: center;
}

.school{
    text-decoration: none;
    list-style: none;
    color: rgb(75, 75, 75) ;
}

.container_thai{
    width: 50%;
    height: 800px;
    display: flex;
    position: absolute;
    right: 0;
    top: 130px;

}

.thai{
    padding-left: 140px;
    padding-top: 100px;

}


.container_3{
    z-index: 0;
    width: 100%;
    height:100%;
    display: flex;
    position: absolute;
    top:0;
    left:0;
    align-items: flex-end;
    justify-content: center;
    color: black;
}



.fotter{
    width: 100%;
    height: 50px;
    border-top: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    font-weight: lighter;


    
}
