
body{
    padding: 0;
    margin: 0;

}

.container{
    width: 100%;
    height: 55px;
    background-color: rgb(54, 54, 54);
    background-size:cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    right:0

}

.nav{
    z-index: 2;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px white;
}

.nav_list{
    font-size: 12px;
    display: flex; 
    list-style: none;
    padding-top: 8px;
}

a{
    padding-left: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: white;
}


.container_a{
    width: 100%;
    height: 60px;
    position: absolute;
    top:50px;
    display: flex;
    justify-content: center;
}
.About_me{
    width: 70%;
    height: 70px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;

}

.container_title{
    width: 70%;
    height: 70px;
    margin: auto;
    position: relative;
    top:160px;
    display: flex;
    flex-flow: column;
    align-items: center;

}

.main{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 600;

}

.sub{
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
}

.container_3{
    z-index: 0;
    width: 100%;
    height:100%;
    display: flex;
    position: absolute;
    top:0;
    left:0;
    align-items: flex-end;
    justify-content: center;
    color: black;
}



.fotter{
    width: 100%;
    height: 50px;
    border-top: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    font-weight: lighter;


    
}

.overview{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.over{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.content_o{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    border: 0.5px solid black;
}

.conteiner_d{
    width: 70%;
    height: 120px;
    position: relative;
    top: 480px;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.download{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;


}

.download_1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;


}

.down_left{
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    font-weight: 400;
    background-color: brown;
    border-bottom: 0.5px solid black;
}

.down_right{
    background-color: brown;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 0.5px solid black;
}

