
body{
    padding: 0;
    margin: 0;

}

.container{
    width: 100%;
    height: 100%;
    background-image:url(../img/back_g.png);
    background-size:cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.nav{
    z-index: 2;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px white;
}

.nav_list{
    font-size: 12px;
    display: flex; 
    list-style: none;
    padding-top: 8px;
}

.list_a{
    padding-left: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: white;
}




.container_1{
    width: 100%;
    height:calc(100% - 55px);
    display: flex;
    position: absolute;
    top:55px;
    left:0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container_2{
    width: 100%;
    height:calc(100% - 55px);
    display: flex;
    position: absolute;
    top:55px;
    left:0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.welcome{
    font-size: 80px;
    font-weight: 600;
 padding-bottom: 150px;
}

.Tatsuki_page{ 
    font-size: 30px;
    font-weight: 300;
 
}


.container_con_origin{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}


.container_con{
    width: 100%;
    height:auto;
    background-color: brown;
    display: flex;
    flex-flow: column;
    align-items: center;


}















.container_a{
    width: 100%;
    height: auto;
    position:relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.About_me{
    width: 70%;
    height: 70px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 50px;
}

.contents_con{
    width: 70%;
    height: auto;
    border-bottom: 3px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.list_con{
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.list_in{
    margin: 30px;
}




















.container_3{
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    color:black;
    position: relative;
    bottom: 0;

}

.fotter{
    width: 100%;
    height: 50px;
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    font-weight: lighter; 
}


